/* styling for the combat page */
body {
    background-color: aquamarine;
    background-image: url('../img/combat_background.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    background-repeat: no-repeat;

}

div#enemy {
    position:absolute;
    top:200px;
    right:500px;
    height: 600px;
    width: 600px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    background-repeat: no-repeat;
    /* background-color: red; */
}

div#enemy-hp-container {
    position:absolute;
    top:50px;
    left:350px;
    height: 100px;
    width: 920px;
    background-color: lightgrey;
    border: solid black;
}

div#enemy-hp {
    position:absolute;
    bottom: 0px;
    right: 10px;
    height: 50px;
    width: 900px;
    background-color: green;
    border: solid black;
}

div#user {
    position:absolute;
    bottom: 50px;
    left:200px;
    height: 400px;
    width: 400px;
    /* background-color: aquamarine; */
    background-image: url('../img/cambat_player.png');
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    background-repeat: no-repeat;
}

div#user-hp-container {
    position:absolute;
    bottom:50px;
    right:250px;
    height: 100px;
    width: 920px;
    border: solid black;
    background-color: lightgrey;
}

div#user-hp {
    position:absolute;
    bottom:0px;
    left:10px;
    height: 50px;
    width: 900px;
    background-color: green;
    border: solid black;
}

div#user-actions {
    position:absolute;
    bottom: 67px;
    left:600px;
    height: 300px;
    width: 100px;
}

div#attack {
    position: absolute;
    color:aliceblue;
    top:110px;
    height: 100px;
    width: 100px;
    background-image: url('../img/sword.png');
    --i : contain;
    background-size: var(--i);
    -moz-background-size: var(--i);
    -o-background-size: var(--i);
    background-size: var(--i); 
    background-repeat: no-repeat;
}

div#run-away {
    position: absolute;
    color:aliceblue;
    top:217px;
    height: 100px;
    width: 100px;
    background-image: url('../img/flee.png');
    --i : contain;
    background-size: var(--i);
    -moz-background-size: var(--i);
    -o-background-size: var(--i);
    background-size: var(--i); 
    background-repeat: no-repeat;
}

div#loot {
    position: absolute;
    top:250px;
    left:700px;
    height: 400px;
    width: 400px;
    background-image: url('../img/loot.png');
    --i : contain;
    background-size: var(--i);
    -moz-background-size: var(--i);
    -o-background-size: var(--i);
    background-size: var(--i); 
    background-repeat: no-repeat;
}

div#end {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url('../img/death.jpg');
    --i : cover;
    background-size: var(--i);
    -moz-background-size: var(--i);
    -o-background-size: var(--i);
    background-size: var(--i); 
    background-repeat: no-repeat;
    display:flex;
    justify-content: center;
    align-items: center;
}

div#end#end {
    color:red;
    font-size: 50px;
}

#victory {
    color:black;
    position: absolute;
    font-size: 57px;
    left:800px;
    top:500px;
    border-radius: 15%;
    width: 870px;
    background-color: gold;
}