body {
    background-color: bisque;
    background-image: url('../img/ocean.webm');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    background-repeat: no-repeat;
}

#org-container {
    display:flex;
    align-items: center;
}

#island {
    --s: 200px;
    --m: 4px;
    --f: calc(var(--s) * 1.732 + 4 * var(--m) - 1px);  */
}

video {
    position: absolute;
    top: 0;
    left: 0;
  }

#hex-container {
    position:absolute;
    top:150px;
    left: 550px;
    width: 1500px;
    height:1100px;
    --s: 200px;
    --m: 4px;
    --f: calc(var(--s) * 1.732 + 4 * var(--m) - 1px); 
}

.hex {
    background-color: aqua;
    width: var(--s);
    margin: var(--m);
    height: calc(var(--s) * 1.1547);
    display: inline-block;
    font-size:initial;
    clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
    margin-bottom: calc(var(--m) - var(--s) * 0.2885);
  }

  .hex {
    position: relative;
    top: 1000px;
}

.hex:nth-child(n+1):nth-child(-n+3) {
    top: 50px;
    left: 425px;
}

.hex:nth-child(n+4):nth-child(-n+7) {
    top: 230px;
    left: -304px;
}

.hex:nth-child(n+8):nth-child(-n+12) {
    top: 230px;
    left: 215px;
}

.hex:nth-child(n+13):nth-child(-n+14) {
    top: 413px;
    right: 306px;
}

.hex:nth-child(n+15):nth-child(-n+16) {
    top: 232px;
    right: -318px;
}

.hex:nth-child(n+17):nth-child(-n+20) {
    top: 415px;
    right: -6px;
} 

.Forest {
    background-color: green;
    background-image: url('../img/forest.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    background-repeat: no-repeat;
}

.Mountain {
    background-color: grey;
    background-image: url('../img/mount.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    background-repeat: no-repeat;
}

.Plain {
    background-color: goldenrod;
    background-image: url('../img/plains.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    background-repeat: no-repeat;
}

.City {
    background-color: maroon;
    background-image: url('../img/city.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    background-repeat: no-repeat;
}

.Dark-Tower {
    background-color: black;
    background-image: url('../img/tower.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    background-repeat: no-repeat;
}

#background {
    position: absolute;
    background-color: gray;
    width: 840px;
    height: calc(840px* 1.1547);
    clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
    transform: rotate(30deg);
    left:865px;
    top:200px;
}

#hero {
    border-radius: 50%;
    border: 7px solid gold;
    width: 60px;
    height: 60px;
    background-image: url('../img/hero1.gif');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    background-repeat: no-repeat;
    margin: 60px;
  }

.hex {
    -webkit-transition:  -webkit-transform 2s ease-in-out;
    -moz-transition: -moz-transform 2s ease-in-out;
    -o-transition: -o-transform 2s ease-in-out;
    -ms-transition: -ms-transform 2s ease-in-out; 
    transition: transform 2s ease-in-out; 
}
.hex:hover {
    z-index: 1;
   -webkit-transform:scale(1.2);
   -moz-transform:scale(1.2);
   -o-transform:scale(1.2);
   transform:scale(1.2);
}