body {
    background-color: bisque;
    background-image: url('../img/ocean.webm');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    background-repeat: no-repeat;
}

#title {
    position: absolute;
    left: 775px;
    font-size: 48px;
    color: aliceblue;
}

#rules {
    position: absolute;
    color: aliceblue;
    width: 400px;
    font-size: 30px;
    margin: 30px;
    background-color: gray;
    opacity: 0.70;
}

p {
    margin: 10px;
}

#stats {
    background-color: gray;
    opacity: 0.70;
    position: absolute;
    width: 300px;
    height: 500px;
    margin:30px;
    left: 1525px;
}
 ul {
    color: aliceblue;
    font-size: 25px;
    list-style: none;
 }

 li {
    margin-bottom: 30px;
 }

 #rest {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 240px;
    left:1655px;
    color: aliceblue;
    background-image: url('../img/rest.png');
    --i : contain;
    background-size: var(--i);
    -moz-background-size: var(--i);
    -o-background-size: var(--i);
    background-size: var(--i); 
    background-repeat: no-repeat;
    z-index: 1;
 }

 #weapon {
    position: absolute;
    width: 100px;
    height: 150px;
    top: 340px;
    left:1550px;
    background-image: url('../img/weapon.png');
    --i : contain;
    background-size: var(--i);
    -moz-background-size: var(--i);
    -o-background-size: var(--i);
    background-size: var(--i); 
    background-repeat: no-repeat;
    z-index: 1;
 }

 #shield {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 335px;
    left:1655px;
    background-image: url('../img/shield.png');
    --i : contain;
    background-size: var(--i);
    -moz-background-size: var(--i);
    -o-background-size: var(--i);
    background-size: var(--i); 
    background-repeat: no-repeat;
    z-index: 1;
 }

 #head {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 365px;
    left:1750px;
    background-image: url('../img/helmet.png');
    --i : contain;
    background-size: var(--i);
    -moz-background-size: var(--i);
    -o-background-size: var(--i);
    background-size: var(--i); 
    background-repeat: no-repeat;
    z-index: 1;
 }

 #chest {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 440px;
    left:1560px;
    background-image: url('../img/chest.png');
    --i : contain;
    background-size: var(--i);
    -moz-background-size: var(--i);
    -o-background-size: var(--i);
    background-size: var(--i); 
    background-repeat: no-repeat;
    z-index: 1;
 }

 #legs {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 435px;
    left:1655px;
    background-image: url('../img/legs.png');
    --i : contain;
    background-size: var(--i);
    -moz-background-size: var(--i);
    -o-background-size: var(--i);
    background-size: var(--i); 
    background-repeat: no-repeat;
    z-index: 1;
 }

 #feet {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 440px;
    left:1750px;
    background-image: url('../img/boots.png');
    --i : contain;
    background-size: var(--i);
    -moz-background-size: var(--i);
    -o-background-size: var(--i);
    background-size: var(--i); 
    background-repeat: no-repeat;
    z-index: 1;
 }



 #equip {
    display:flex;
    position: absolute;
    background-color: aquamarine;
    width: 240px;
    height: 150px;
    left:30px;
    bottom: 30px;
    display: flex;
    justify-content: space-evenly;
    flex-flow: column wrap;
 }

 #equip > div {
    margin: 12px;
    background-color: red;
    width: 50px;
    height: 50px;
 }

 #equip > #head {
    background-color: blue;
 }

#org-container {
    display:flex;
    align-items: center;
}

#island {
    --s: 200px;
    --m: 4px;
    --f: calc(var(--s) * 1.732 + 4 * var(--m) - 1px);  */
}

video {
    position: absolute;
    top: 0;
    left: 0;
    height: 150%;
    width: auto;
  }

#hex-container {
    position:absolute;
    top:150px;
    /* left: 550px; */
    left: 300px;
    width: 1500px;
    height:1100px;
    --s: 200px;
    --m: 4px;
    --f: calc(var(--s) * 1.732 + 4 * var(--m) - 1px); 
}

.hex {
    background-color: aqua;
    width: var(--s);
    margin: var(--m);
    height: calc(var(--s) * 1.1547);
    display: inline-block;
    font-size:initial;
    clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
    margin-bottom: calc(var(--m) - var(--s) * 0.2885);
  }

  .hex {
    position: relative;
    top: 1000px;
}

.hex:nth-child(n+1):nth-child(-n+3) {
    top: 50px;
    left: 425px;
}

.hex:nth-child(n+4):nth-child(-n+7) {
    top: 230px;
    left: -304px;
}

.hex:nth-child(n+8):nth-child(-n+12) {
    top: 230px;
    left: 215px;
}

.hex:nth-child(n+13):nth-child(-n+14) {
    top: 413px;
    right: 306px;
}

.hex:nth-child(n+15):nth-child(-n+16) {
    top: 232px;
    right: -318px;
}

.hex:nth-child(n+17):nth-child(-n+20) {
    top: 415px;
    right: -6px;
} 

.Forest {
    background-color: green;
    background-image: url('../img/forest.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    background-repeat: no-repeat;
}

.Mountain {
    background-color: grey;
    background-image: url('../img/mount.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    background-repeat: no-repeat;
}

.Plain {
    background-color: goldenrod;
    background-image: url('../img/plains.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    background-repeat: no-repeat;
}

.City {
    background-color: maroon;
    background-image: url('../img/city.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    background-repeat: no-repeat;
}

.Dark-Tower {
    background-color: black;
    background-image: url('../img/tower.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    background-repeat: no-repeat;
}

#background {
    position: absolute;
    background-color: gray;
    width: 840px;
    height: calc(840px* 1.1547);
    clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
    transform: rotate(30deg);
    left:615px;
    top:200px;
}

#hero {
    border-radius: 50%;
    border: 7px solid gold;
    width: 60px;
    height: 60px;
    background-image: url('../img/hero1.gif');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    background-repeat: no-repeat;
    margin: 60px;
  }

/* .hex {
    -webkit-transition:  -webkit-transform 2s ease-in-out;
    -moz-transition: -moz-transform 2s ease-in-out;
    -o-transition: -o-transform 2s ease-in-out;
    -ms-transition: -ms-transform 2s ease-in-out; 
    transition: transform 2s ease-in-out; 
}
.hex:hover {
    z-index: 1;
   -webkit-transform:scale(1.2);
   -moz-transform:scale(1.2);
   -o-transform:scale(1.2);
   transform:scale(1.2);
} */


/* styling for the combat page */
body {
    background-color: aquamarine;
    background-image: url('../img/combat_background.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    background-repeat: no-repeat;

}

div#enemy {
    position:absolute;
    top:50px;
    right:200px;
    height: 400px;
    width: 400px;
    background-color: red;
}

div#enemy-hp-container {
    position:absolute;
    top:50px;
    left:350px;
    height: 100px;
    width: 920px;
    background-color: lightgrey;
    border: solid black;
}

div#enemy-hp {
    position:absolute;
    bottom: 0px;
    right: 10px;
    height: 50px;
    width: 900px;
    background-color: green;
    border: solid black;
}

div#user {
    position:absolute;
    bottom: 50px;
    left:200px;
    height: 400px;
    width: 400px;
    /* background-color: aquamarine; */
    background-image: url('../img/cambat_player.png');
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    background-repeat: no-repeat;
}

div#user-hp-container {
    position:absolute;
    bottom:50px;
    right:250px;
    height: 100px;
    width: 920px;
    border: solid black;
    background-color: lightgrey;
}

div#user-hp {
    position:absolute;
    bottom:0px;
    left:10px;
    height: 50px;
    width: 900px;
    background-color: green;
    border: solid black;
}

div#user-actions {
    position:absolute;
    bottom: 67px;
    left:600px;
    height: 300px;
    width: 100px;
}

div#attack {
    position: absolute;
    color:aliceblue;
    top:110px;
    height: 100px;
    width: 100px;
    background-image: url('../img/sword.png');
    --i : contain;
    background-size: var(--i);
    -moz-background-size: var(--i);
    -o-background-size: var(--i);
    background-size: var(--i); 
    background-repeat: no-repeat;
}

div#run-away {
    position: absolute;
    color:aliceblue;
    top:217px;
    height: 100px;
    width: 100px;
    background-image: url('../img/flee.png');
    --i : contain;
    background-size: var(--i);
    -moz-background-size: var(--i);
    -o-background-size: var(--i);
    background-size: var(--i); 
    background-repeat: no-repeat;
}

div#loot {
    position: absolute;
    top:250px;
    left:700px;
    height: 400px;
    width: 400px;
    background-image: url('../img/loot.png');
    --i : contain;
    background-size: var(--i);
    -moz-background-size: var(--i);
    -o-background-size: var(--i);
    background-size: var(--i); 
    background-repeat: no-repeat;
}

div#end {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url('../img/death.jpg');
    --i : cover;
    background-size: var(--i);
    -moz-background-size: var(--i);
    -o-background-size: var(--i);
    background-size: var(--i); 
    background-repeat: no-repeat;
    display:flex;
    justify-content: center;
    align-items: center;
}

div#end#end {
    color:red;
    font-size: 50px;
}